{% extends 'base.html.twig' %}

{% block title %}Supprimer son compte{% endblock %}

{% block body %}
    <div class="main-header">
        <h1 class="display-6 fw-bold text-body-emphasis">Supprimer son compte</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous avez le droit à
                    l'effacement de vos données personnelles. Ce droit signifie que nous
                    supprimerons toutes les informations vous concernant stockées sur notre plateforme, sauf si des
                    motifs légitimes existent pour conserver ces données.
                    La suppression de votre compte entraînera également la perte de toutes vos informations, <strong>y compris
                    l'historique de vos rendez-vous</strong>.</p>
            </div>

            <div class="mt-3">
                <a href="{{ path('app_account_delete') }}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Je supprime mon compte</a>

                <a class="btn btn-danger" href="#"
                   data-bs-toggle="modal" data-bs-target="#deletePatientModal">
                    <i class="fa fa-trash-can"></i> Je supprime mon compte
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deleteModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous certain.e de vouloir supprimer votre compte?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Non</button>
                    <form method="post" action="{{ path('app_account_delete') }}">
                        <button class="btn btn-outline-primary"> Oui</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}