main > .container {
  padding-top: 4.5rem;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor
}

.main-header {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
  border-bottom: 1px solid lightgrey !important;
}

label.form-label.required {
  &::after {
    color: $danger;
    content: " *";
  }
}