@import "variables";

.bg-info {
  background-color: $info!important;
}

.bg-primary {
  background-color: $primary!important;
}

.bg-warning {
  background-color: $warning!important;
}

.bg-success {
  background-color: $success!important;
}

.bg-danger {
  background-color: $danger!important;
}