<footer class="footer mt-auto py-2 bg-light">
    <div class="container">
        <small class="text-muted">
            <a href="https://cathyassenheim.com/" class="link-dark link-underline link-underline-opacity-0">Cathy Assenheim</a> &copy; {{ date('now')|date('Y') }} |
            Tous droits réservés | Made with ❤️ by Weebee
        </small>
    </div>
</footer>