<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                {% block navbar_brand %}
                    <img src="{{ asset('build/images/logo_black.png') }}" alt="logo" height="30px"/>
                {% endblock %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% block menu %}
                    {{ include('layout/_menu.html.twig') }}
                {% endblock %}
            </div>
        </div>
    </nav>
</header>