<div class="container col-xxl-8 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5" style="height: 100%;">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <img src="{{ asset('build/images/home.png') }}" class="d-block mx-lg-auto img-fluid" alt="cover"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="align-middle">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Prenez rendez-vous en ligne!</h1>
                <p class="lead">Powder gummies croissant sweet roll powder carrot cake lemon drops chupa chups. Jelly
                    beans tootsie roll wafer halvah topping shortbread pastry candy tiramisu. Fruitcake shortbread apple
                    pie candy apple pie jelly-o dessert. Croissant carrot cake jelly fruitcake chocolate bar cookie
                    gummi bears jelly-o sugar plum. Carrot cake topping tart powder chocolate bar soufflé bonbon. Wafer
                    soufflé powder pastry toffee wafer. Cupcake candy canes powder icing sweet pie. Pudding liquorice
                    macaroon muffin bear claw cotton candy macaroon lollipop danish</p>
            </div>

            <div class="mt-3">
                <a href="" class="btn btn-lg btn-success">Prendre un rendez-vous</a>
            </div>
        </div>
    </div>
</div>