<div class="container col-xxl-8 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5" style="height: 100%;">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <img src="{{ asset('build/images/home.png') }}" class="d-block mx-lg-auto img-fluid" alt="cover"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="align-middle">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Prenez rendez-vous en ligne!</h1>
                <p class="lead">En raison d'une activité très chargée, j'ai réduit le nombre de rendez-vous disponibles.
                    Dans le but de maintenir la continuité de la prise en charge, les anciens patients ont la priorité
                    lors de la prise de rendez-vous. Cela signifie que les nouveaux rendez-vous peuvent avoir des
                    temps d'attente assez longs. Merci pour votre compréhension et votre patience.</p>
            </div>

            {% if firstDate is not null %}
                <div class="alert alert-info text-center" role="alert">
                    <strong>Prochain rendez-vous disponible</strong><br>
                    {{ firstDate|format_datetime('full', 'short', locale='fr')|capitalize }}
                </div>
                <div class="mt-3 text-center">
                    <a href="{{ path('app_appointment_new') }}" class="btn btn-success">Prendre un rendez-vous</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('app_appointment_show')}}" class="btn btn-info">Consulter mes rendez-vous</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    L'agenda des consultations est malheureusement complet.<br>
                    Merci de revenir consulter ce site un peu plus tard.
                </div>
            {% endif %}

        </div>
    </div>
</div>